<h1 class="push-down-md"><a href="http://igniteui.com/tree-grid/overview" target="_blank">igTreeGrid</a></h1>

<div class="row description">
    <div class="col-md-9">
        <p class="lead">This sample demonstrates how Ignite UI Angular Wrappers directives are used with the igTreeGrid.</p>
        <p><a href="https://github.com/IgniteUI/igniteui-angular-wrappers/blob/master/samples/igTreeGrid/igTreeGrid.html" class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the Code</a></p>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		<ig-tree-grid 
				[(widgetId)]='id'
				[options]="tgridOptions">
		</ig-tree-grid>
	</div>
</div>