<h1 class="push-down-md"><a href="http://www.igniteui.com/dialog-window/overview" target="_blank">igDialog</a></h1>
<div class="row description">
    <div class="alert alert-info col-md-5 try-it-out">
        <span class="h4">TRY IT OUT:</span>
        <hr />
        <ul>
            <li>Drag the dialog around the page by the header</li>
            <li>Close the dialog and refresh the page to see it reappear</li>
        </ul>
    </div>
    <div class="col-md-4">
        <p class="lead">This sample demonstrates how to declare an igDialog with an Ignite UI Angular Wrappers component.</p>
        <p><a href="https://github.com/IgniteUI/igniteui-angular-wrappers/blob/master/src/app/dialog/dialog.component.html" class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the Code</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ig-dialog [widgetId]='"dialog1"' [(options)]='options'>
            <p>
                <img style="width: 220px" src="http://www.igniteui.com/images/samples/dialog-window/content.jpg" />
            </p>
            <input style="margin: 5px" />
        </ig-dialog>
    </div>
</div>