	<div class="col-md-3">
            <ig-tree widgetId="tree1" [(options)]="options" [dataSource]="data" #tree>             
            </ig-tree>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-4">Add a new root-level node</div>
                <div class="col-md-3"><input type="button" class="btn btn-default btn-info" (click)="addNodeRootLevel()" value="Add" /></div>
            </div>
            <div class="row push-down-xs">
                <div class="col-sm-4">Add a new root-level node (by name)</div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input class="form-control" placeholder="new product name" type="text" [(ngModel)]="newProductCategory.Name">
                                <span class="input-group-addon text-muted">{{newProductCategory.ProductCategoryID}}</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-default btn-info btn" type="button" value="Add" (click)="addProductCategory($index)" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row push-down-xs">
                <div class="col-sm-4">Remove the selected node from the tree</div>
                <div class="col-md-3"><input type="button" class="btn btn-default btn-info" (click)="removeSelectedNode()" value="Delete" /></div>
            </div>
            
             <table id="treesampletable" class="table table-striped push-down-xs">
                <tbody>
                    <tr *ngFor="let pc of data; let i = index">
                        <td>{{pc.ProductCategoryID}}</td>
                        <td class="col-sm-3"><input class="form-control" type="text" [(ngModel)]="pc.Name"></td>
                        <td><input class="btn btn-default btn-info btn-sm" type="button" value="Delete" (click)="deleteProductCategory(i)" /></td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input class="form-control" 
                                               type="text" 
                                               placeholder="product name"
                                               [(ngModel)]="newProductSubcategory.Name">
                                        <span class="input-group-addon text-muted" >{{pc.ProductSubcategories.length}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input class="btn btn-default btn-info btn-sm" 
                                           type="button" 
                                           value="Add" 
                                           (click)="addProductSubcategory(i)" />
                                </div>
                            </div>
                            <hr />
                            <div *ngFor="let ps of pc.ProductSubcategories, let j = index">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" [(ngModel)]="ps.Name" (ngModelChange)="updateProductSubcategory()">
                                    </div>
                                    <div class="col-sm-1">
                                        <input 
                                               class="btn btn-default btn-info btn-sm"
                                               type="button"
                                               value="Delete"
                                               (click)="deleteProductSubcategory(i, j)" />
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>          
	</div>