<h1 class="push-down-md"><a href="http://igniteui.com/hierarchical-grid/overview" target="_blank">igHierarchicalGrid</a></h1>
<div class="row description">
    <div class="col-md-12">
        <p class="lead">This sample demonstrates how Ignite UI Angular Wrappers components are used to instantiate igHierarchicalGrid.</p>
        <p><a href="https://github.com/IgniteUI/igniteui-angular-wrappers/blob/master/src/app/hierarchical-grid/hierarchical-grid.component.html" class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the Code</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ig-hierarchical-grid 
                [(widgetId)]='id'
                [options]="hgridOptions" [changeDetectionInterval]='10000'>
        </ig-hierarchical-grid>

    </div>
</div>