<h1 class="push-down-md"><a href="http://igniteui.com/grid/overview" target="_blank">igGrid</a></h1>
	
<div class="row description">
    <div class="col-md-12">
        <p class="lead">This sample demonstrates how to call Angular components API methods.</p>
        <p><a href="https://github.com/IgniteUI/igniteui-angular-wrappers/blob/master/src/app/grid-api-methods/grid-api-methods.component.ts" class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the Code</a></p>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<ig-grid [widgetId]='id' [autoCommit]='true' [dataSource]='data' [autoGenerateColumns]='false' [primaryKey]='"ProductID"' #grid>
			<column [key]="'ProductID'" [headerText]="'Product ID'" [width]="'165px'" [dataType]="'number'"></column>
			<column [key]="'ProductName'" [headerText]="'Product Name'" [width]="'250px'" [dataType]="'string'"></column>
			<column [key]="'QuantityPerUnit'" [headerText]="'Quantity per unit'" [width]="'250px'" [dataType]="'string'"></column>
			<column [key]="'UnitPrice'" [headerText]="'Unit Price'" [width]="'100px'" [dataType]="'number'"></column>
			<features>
				<paging [pageSize]="currPageSize"></paging>
				<filtering></filtering>
				<selection></selection>
			</features>
		</ig-grid>

		 <div>

        <fieldset class="explorer">
            <legend>Filtering settings</legend>
            <ig-combo widgetId='columnsCombo' width='140px' [(dataSource)]='cols' textKey='headerText' valueKey='key' mode='dropdown' (selectionChanged)="columnSelChanged($event)" #columnsCombo></ig-combo>
            <ig-combo widgetId='columnsConditionsCombo'  width='140px' [dataSource]='filteringConditions' textKey='text' valueKey='cond' mode='dropdown'  #condCombo></ig-combo>
            <div *ngIf="(filterColType === 'string')" style='display:inline-block;'>                
                 <ig-text-editor widgetId='stringExprEditor'  width='140px' #exprEditor></ig-text-editor>
            </div>
           <div  *ngIf="(filterColType === 'number')" style='display:inline-block;'>
               <ig-numeric-editor widgetId='numberExprEditor'  width='140px' #exprEditor></ig-numeric-editor>
           </div>
            <div *ngIf="(filterColType === 'date')" style='display:inline-block;'>
                 <ig-date-editor widgetId='dateExprEditor'  width='140px' #exprEditor></ig-date-editor>
            </div>            
            <br />
            <input type="button" id="buttonFilter" value="Filter" (click)="filter()" />
        </fieldset>

        

        <fieldset class="explorer">
            <legend>Paging settings</legend>
            <label for="pageIndexList">Select Page Index:</label>
            <ig-combo widgetId='pageIndexCombo' width='100px' [dataSource]='pageIndexes' valueKey='value' mode='dropdown'  (selectionChanged)="pageIndexChanged($event)"></ig-combo>
            <label for="PageSizeSelect">Select Page Size:</label>
             <ig-combo widgetId='pageSizeCombo' width='100px' [dataSource]='pageSizes'  mode='dropdown' valueKey='value' (selectionChanged)="pageSizeChanged($event)"></ig-combo>
        </fieldset>
        <div style="clear:both;"></div>
        <fieldset class="explorer">
            <legend>Selection settings</legend>
            <label for="RowSelect">Select Row Index:  </label>
            <ig-numeric-editor widgetId='rowNumberEditor' width='140px' #selectionEditor></ig-numeric-editor>
            <br />
            <input type="button" id="buttonSelectRow" value="Select Row" (click)="selectRow()"/>
        </fieldset>

        <div style="clear:both;"></div>
    </div>
	</div>

</div>