<h1 class="push-down-md"><a href="http://igniteui.com/file-upload/overview" target="_blank">igUpload</a></h1>
<div class="row description">
    <div class="alert alert-info col-md-5 try-it-out">
        <span class="h4">TRY IT OUT:</span>
        <hr />
        <ul>
            <li>Click on the button to upload a file</li>
        </ul>
    </div>
    <div class="col-md-4">
        <p class="lead">This sample demonstrates how create an igUpload using an Ignite UI Angular Wrappers component.
        </p>
        <p class="alert alert-warning"><strong>Note:</strong> There is no server configured with this sample, so uploads
            will fail.</p>
        <p><a href="https://github.com/IgniteUI/igniteui-angular-wrappers/blob/master/samples/igUpload/igUpload.html"
                class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the
                Code</a></p>
    </div>
</div>
<ig-upload id="upload1" [options]="{mode:'multiple'}"></ig-upload>