<h1 class="push-down-md"><a href="http://igniteui.com/tile-manager/overview" target="_blank">igTileManager</a></h1>

<div class="row description">
    <div class="col-md-12">
        <p class="lead">This sample demonstrates how Ignite UI Angular Wrappers components are used to instantiate igTileManager.</p>
        <p><a href="https://github.com/IgniteUI/igniteui-angular-wrappers/blob/master/src/app/tile-manager/tile-manager.component.html"
                class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the Code</a></p>
    </div>
</div>
<div class="row">
    <ig-tile-manager widgetId="dashboard"  [(options)]="options">
    </ig-tile-manager>
</div>