<h1 class="push-down-md"><a href="http://igniteui.com/layout-manager/overview" target="_blank">igLayoutManager</a></h1>

<div class="row description">
    <div class="col-md-12">
        <p class="lead">This sample demonstrates how Ignite UI Angular Wrappers components are used to instantiate
            igLayoutManager.</p>
        <p><a href="https://github.com/IgniteUI/igniteui-angular-wrappers/blob/master/src/app/layout-manager/layout-manager.component.html"
                class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the
                Code</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ig-layout-manager widgetId="layout" [(options)]="layoutOptions">
            <div class="left">
                <h3>LEFT AREA</h3>
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
                <p>6</p>
            </div>
            <div class="right">
                <h3>RIGHT AREA</h3>
                <p>
                    Aliquam ut tellus tristique massa gravida accumsan. Vivamus sodales, purus eget vehicula aliquam,
                    arcu ipsum hendrerit mauris, ac faucibus massa turpis eget nibh. Etiam blandit sodales semper.
                    Curabitur enim nunc, molestie ac aliquam eu, imperdiet tincidunt orci. Proin pulvinar vehicula
                    lacus, ut lacinia tortor molestie vitae. Nunc ut augue id erat feugiat feugiat non sit amet erat.
                    Suspendisse ultrices risus dapibus erat laoreet accumsan. Phasellus rutrum, lectus quis tempus
                    blandit, libero lectus dignissim ligula, in semper orci nibh ut diam.
                </p>
            </div>
            <div class="header">HEADER - some text here</div>
            <div class="footer">FOOTER - some text here </div>
            <div class="center">
                <h3>CENTER AREA</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget porta urna. Ut gravida mi at
                    ligula commodo feugiat vehicula lacus tincidunt. Proin lobortis magna sed lacus malesuada commodo
                    fermentum felis auctor. Sed quis nulla quis tellus facilisis malesuada. Mauris aliquam neque
                    consequat mi blandit in luctus magna rutrum. Fusce sit amet ipsum magna. Vivamus porttitor arcu
                    vitae eros molestie et sagittis dolor cursus. Quisque ultrices feugiat risus, vitae molestie felis
                    interdum ac. Suspendisse pellentesque magna nec est commodo porttitor.
                </p>
                <p>
                    Nunc lacinia ligula a nisl porta sed facilisis mauris facilisis. Sed a ante turpis, eget semper
                    odio. Curabitur facilisis faucibus iaculis. Ut fermentum pretium ultrices. Etiam sem dui, adipiscing
                    sed tempus et, adipiscing eget erat. Vestibulum nec eros magna.
                </p>
                <p>
                    Praesent tristique arcu eget ligula pulvinar mollis. Maecenas at elit at justo posuere gravida id eu
                    enim. Duis imperdiet lectus nec augue sollicitudin hendrerit. Suspendisse consectetur, lorem nec
                    eleifend rutrum, eros metus sodales libero, et rutrum diam augue et lectus. Integer sed est vitae
                    risus dignissim condimentum ullamcorper at massa. Donec a orci nisl, eget ullamcorper augue. Quisque
                    sagittis fringilla tortor. Vivamus ligula velit, aliquam ut pellentesque quis, fringilla sit amet
                    tortor.
                </p>
                <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Suspendisse consectetur facilisis lectus, nec sodales massa eleifend nec. Phasellus porttitor, urna
                    vitae dictum tempor, ligula diam placerat tellus, vel luctus neque tellus sed elit. Curabitur
                    aliquam consequat arcu, sit amet ultricies tortor interdum congue. Vestibulum ante ipsum primis in
                    faucibus orci luctus et ultrices posuere cubilia Curae; Sed convallis urna a elit egestas lacinia.
                    Duis laoreet tempor purus quis aliquet.
                </p>
                <p>
                    Sed interdum cursus lacus in laoreet. Praesent aliquet consequat ipsum sollicitudin mollis. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat posuere turpis sed tempus.
                    Vivamus scelerisque condimentum justo sed ultrices. Nunc augue nisl, lobortis in convallis sit amet,
                    tempus at lacus. Quisque nulla erat, egestas eu ultrices pellentesque, vehicula id velit. Sed
                    venenatis, ligula ac condimentum varius, dolor augue ullamcorper leo, ut sagittis libero lectus ac
                    libero.
                </p>
                <p>
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Sed convallis risus sit amet lorem facilisis posuere.
                    Cras malesuada lobortis sodales. Praesent aliquam elementum tortor nec sollicitudin. Phasellus sed
                    erat lectus, elementum adipiscing odio.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                    dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                    facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                    delenit augue duis dolore te feugait nulla.
                </p>
                <p>
                    Aliquam ut tellus tristique massa gravida accumsan. Vivamus sodales, purus eget vehicula aliquam,
                    arcu ipsum hendrerit mauris, ac faucibus massa turpis eget nibh. Etiam blandit sodales semper.
                    Curabitur enim nunc, molestie ac aliquam eu, imperdiet tincidunt orci. Proin pulvinar vehicula
                    lacus, ut lacinia tortor molestie vitae. Nunc ut augue id erat feugiat feugiat non sit amet erat.
                    Suspendisse ultrices risus dapibus erat laoreet accumsan.
                </p>
            </div>
        </ig-layout-manager>
    </div>
</div>