body {
    background-color: #fff;
    font-family: 'segoe ui', 'arial', 'helvetica', 'sans-serif';
    /*overflow-x:hidden;*/
}

div#layout h2 {
    margin: 0;
}

div#layout .left,
div#layout .right,
div#layout .center,
div#layout .footer,
div#layout .header {
    color: #fff;
}

div#layout .left p,
div#layout .right p,
div#layout .center p,
div#layout h3 {
    margin: 15px;
}

div#layout .center {
    background-color: #EEE;
    color: #555;
}

div#layout .right {
    background-color: #555;
    color: #EEE;
}

div#layout .left {
    background-color: #FFA72D;
}

div#layout .header {
    background-color: #2CBDF9;
}

div#layout .footer {
    background-color: #2CBDF9;
}

#sampleContainer {
    height: 370px;
}