<h1 class="push-down-md"><a href="http://igniteui.com/video-player/overview" target="_blank">igVideoPlayer</a></h1>
<div class="row description">
    <div class="alert alert-info col-md-5 try-it-out">
        <span class="h4">TRY IT OUT:</span>
        <hr />
        <ul>
            <li>Play the video</li>
        </ul>
    </div>
    <div class="col-md-4">
        <p class="lead">This sample demonstrates how create an igVideoPlayer with an Ignite UI Angular Wrappers components.</p>
        <p><a href="https://github.com/IgniteUI/igniteui-angular-wrappers/blob/master/samples/igVideoPlayer/igVideoPlayer.html" class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the Code</a></p>
    </div>
</div>
<ig-video-player widgetId="videoplayer" [(options)]="options"></ig-video-player>
</div>